# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/out

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter (mobile_flutter monorepo)
/mobile_flutter/.dart_tool/
/mobile_flutter/.packages
/mobile_flutter/.flutter-plugins
/mobile_flutter/.flutter-plugins-dependencies
/mobile_flutter/build/
/mobile_flutter/coverage/
/mobile_flutter/android/.gradle/
/mobile_flutter/android/local.properties
/mobile_flutter/ios/Pods/
/mobile_flutter/ios/.symlinks/
/mobile_flutter/ios/Flutter/Flutter.framework/
/mobile_flutter/ios/Flutter/Flutter.podspec
/mobile_flutter/ios/Flutter/App.framework/
/mobile_flutter/ios/Flutter/engine/
/mobile_flutter/**/DerivedData/
/mobile_flutter/**/*.iml
