.buttonIcon {
  font-size: 13px !important;
  color: rgb(59, 45, 182) !important;
}

@media only screen and (max-width: 5000px) {
  .tracuuFcst {
    display: flex;
    width: 100%;
    height: calc(100vh - 88px);
    gap: 1px;

    .tracuuFcstform {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 260px;
      height: 99%;
      background-image: linear-gradient(0deg, #c9afd3, #b997f8);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      border-radius: 8px;
      padding: 5px;

      .forminput {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-around;
        padding: 2px;
        font-size: 0.6rem;

        .forminputcolumn {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: flex-end;
          justify-content: flex-end;
          flex-wrap: wrap;

          input {
            width: 125px;
            height: 15px;
            font-size: 0.6rem;
            outline: none;
            border-radius: 5px;
            border: none;
            padding: 5px;
            margin-left: 5px;
            background-image: linear-gradient(0deg, #ececec, #9dee95);
          }
        }
      }

      .formbutton {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
      }
    }

    .tracuuFcstTable {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      border-radius: 8px;

      .datatb {
        justify-items: center;
        width: 99%;
        height: 100%;
        padding: 5px;
      }
    }
  }
}
