.buttonIcon {
  font-size: 13px !important;
  color: rgb(59, 45, 182) !important;
}

@media only screen and (max-width: 5000px) {
  .newfcst {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .batchnewplan {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      box-sizing: border-box;
      align-items: center;
      justify-items: center;

      .formupload {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(0deg, #afd3d1, #86cfff);
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 5px;

        .checkpobutton {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 15px;
          background-color: #99f86d;
          outline: none;
          border: none;
          padding: 5px;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          &:hover {
            background-color: rgb(127, 219, 255);
            cursor: pointer;
          }
        }

        .uppobutton {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 15px;
          background-color: #ee1010;
          color: white;
          outline: none;
          border: none;
          padding: 5px;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          &:hover {
            background-color: rgb(127, 219, 255);
            cursor: pointer;
          }
        }
      }

      .insertPlanTable {
        display: flex;
        width: 99%;
        height: 80vh;
        margin-top: 10px;
        background-image: linear-gradient(0deg, #5e6666, #c0c0c9);
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}
