.documentmanager {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 85px);
  box-sizing: border-box;
  overflow: hidden;
  .documenttable {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    .tbleft {
      display: flex;
      flex: 1;
      height: 100%;
      min-width: 0;
      min-height: 0;
      overflow: auto;
    } 
    .tbright {
      display: flex;
      flex: 1;
      height: 100%;
      min-width: 0;
      min-height: 0;
      overflow: auto;
    }
  }
}