.quanlyphongbannhansu {
    height: fit-content;    
    
    .quanlyphongban {
        display: flex;
        height: fit-content;   
        flex-direction: column;
        gap: 20px;
        .showhidebutton
        {
            width: 150px;
            background-color: #44ce67;
            /* Green */
            border: none;
            color: white;            
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;                        
            border-radius: 5px;
            outline: none;
            box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
            &:hover {
                background-color: #22fd7e;
            }
        }
            
        .maindept {
            display: flex;
            flex: 1;  
            height: fit-content;
            background-image: linear-gradient(0deg, #afd3d1,#35a9f7);
            border-radius: 10px;
            box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            
            .maindept_table{
                align-items: center;
                justify-content: center;
                justify-self: center;
                padding: 20px; 
                min-height: 450px;  
                width: 100%;    
                border-radius: 10px; 
                flex:3;
            }
            .maindeptform {
                display: flex; 
                flex-direction: column;               
                flex:1;
                gap: 10px;
                align-items: center;
                justify-content: space-around;
                .maindeptinput{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    .maindeptinputlabel{
                        display: flex;                      

                    }
                    .maindeptinputbox{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                    }
                }
                .maindeptbutton{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-evenly;
                    .thembutton {
                        background-color: #21a73e;
                        /* Green */
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #22fd7e;
                        }

                    }
                    .suabutton {
                        background-color: #ddff19;
                        /* Green */
                        border: none;
                        color: rgb(7, 32, 255);
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #22fd7e;
                        }

                    }
                    .xoabutton {
                        background-color: #3633f7;
                        /* Green */
                        border: none;
                        color: rgb(194, 255, 28);
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #dde020;
                            color:#35a9f7;
                        }

                    }

                }

            }

            
        }


        .subdept {
            display: flex;
            flex: 1;  
            height: fit-content;
            background-image: linear-gradient(0deg, #afd3d1,#f187c5);
            border-radius: 10px;
            box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            
            .subdept_table{
                align-items: center;
                justify-content: center;
                justify-self: center;
                padding: 20px; 
                min-height: 450px;  
                width: 100%;    
                border-radius: 10px; 
                flex:3;
            }
            .subdeptform {
                display: flex; 
                flex-direction: column;               
                flex:1;
                gap: 10px;
                align-items: center;
                justify-content: space-around;
                .subdeptinput{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    .subdeptinputlabel{
                        display: flex;                      

                    }
                    .subdeptinputbox{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                    }
                }
                .subdeptbutton{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-evenly;
                    .thembutton {
                        background-color: #21a73e;
                        /* Green */
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #22fd7e;
                        }

                    }
                    .suabutton {
                        background-color: #ddff19;
                        /* Green */
                        border: none;
                        color: rgb(7, 32, 255);
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #22fd7e;
                        }

                    }
                    .xoabutton {
                        background-color: #3633f7;
                        /* Green */
                        border: none;
                        color: rgb(194, 255, 28);
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #dde020;
                            color:#35a9f7;
                        }

                    }

                }

            }

            
        }

        .workposition {
            display: flex;
            flex: 1;  
            height: fit-content;
            background-image: linear-gradient(0deg, #afd3d1,#5bee5b);
            border-radius: 10px;
            box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            
            .workposition_table{
                align-items: center;
                justify-content: center;
                justify-self: center;
                padding: 20px; 
                min-height: 450px;  
                width: 100%;    
                border-radius: 10px; 
                flex:3;
            }
            .workpositionform {
                display: flex; 
                flex-direction: column;               
                flex:1;
                gap: 10px;
                align-items: center;
                justify-content: space-around;
                .workpositioninput{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    .workpositioninputlabel{
                        display: flex;                      

                    }
                    .workpositioninputbox{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                    }
                }
                .workpositionbutton{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-evenly;
                    .thembutton {
                        background-color: #21a73e;
                        /* Green */
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #22fd7e;
                        }

                    }
                    .suabutton {
                        background-color: #ddff19;
                        /* Green */
                        border: none;
                        color: rgb(7, 32, 255);
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #22fd7e;
                        }

                    }
                    .xoabutton {
                        background-color: #3633f7;
                        /* Green */
                        border: none;
                        color: rgb(194, 255, 28);
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #dde020;
                            color:#35a9f7;
                        }

                    }

                }

            }

            
        }
    }
    .quanlynhansu {
        display: flex;
        height: fit-content;   
        flex-direction: column;
        gap: 20px;
        
        .showhidebutton
        {
            width: 150px;
            background-color: #44ce67;
            /* Green */
            border: none;
            color: white;            
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;                        
            border-radius: 5px;
            outline: none;
            box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
            &:hover {
                background-color: #22fd7e;
            }
        }
            

        .maindept {
            display: flex;
            flex-direction: column;
            flex: 1;  
            height: fit-content;
            background-image: linear-gradient(0deg, #afd3d1,#6ca0ee);
            border-radius: 10px;
            box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
            padding-right: 30px;
            
            h3 {
                align-self: center;
                padding: 10px;
            }
            .maindept_table{
                align-items: center;
                justify-content: center;
                justify-self: center;
                padding: 20px;                
                width: 97%;    
                border-radius: 10px; 
                height: 40vh;
                margin-left: 10px;
                align-self: center;                             
                background-image: linear-gradient(0deg, #afd3d1,#2ffc73);
                
                
            }
            .maindeptform {
                display: flex; 
                flex-direction: column;   
                margin-bottom: 10px;
                gap: 10px;
                align-items: center;
                justify-content: space-around;
                padding: 20px;
                height: 30vh;
                .maindeptinput{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    .maindeptinputlabel{
                        display: flex;
                    }
                    .maindeptinputbox{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        gap: 15px;
                        select {
                            width: 200px;
                            height: 24px;
                        }
                        input {
                            padding-left: 5px;
                            margin-left: 2px;
                        }
                        label {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-end;
                            
                        }
                        

                    }
                }
                .maindeptbutton{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-evenly;
                    .thembutton {
                        background-color: #21a73e;
                        /* Green */
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #22fd7e;
                        }

                    }
                    .suabutton {
                        background-color: #ddff19;
                        /* Green */
                        border: none;
                        color: rgb(7, 32, 255);
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #22fd7e;
                        }

                    }
                    .xoabutton {
                        background-color: #3633f7;
                        /* Green */
                        border: none;
                        color: rgb(194, 255, 28);
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;                        
                        border-radius: 10px;
                        outline: none;
                        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
                        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);                
                        &:hover {
                            background-color: #dde020;
                            color:#35a9f7;
                        }

                    }

                }

            }

            
        }       
    }
}