.addplandialog {
  display: flex;
  flex-direction: column;
  padding: 1px;
  .planwindow {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    gap: 10px;
    .dinhmucdiv {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      border: 1px solid #eedfdf;
      align-self: center;
      font-size: 0.8rem;
      .datadinhmucto {  
        display: flex;
        flex-direction: row;
        width: 100%;
        .datadinhmuc {
          display: flex;
          flex: 1;
          gap: 2px;
          border-radius: 5px; 
          height: fit-content;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          align-self: center;
          justify-content: space-around;
          .forminputcolumn {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;         
            input {
              width: 100px;
            }
            select {
              width: 107px;
            }
          }
          align-items: center;
        }
      }
    }
    .content {
      display: flex;
      width: 100%;
      height: 100%;
      font-size: 0.8rem;
      align-self: center;
      justify-content: center;
      border: 1px solid #e2dada;
      padding: 5px;
      .forminput {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        .forminputcolumn {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: center;         
          input {
            width: 100px;
          }
          select {
            width: 107px;
          }
        }
      }
    }
    .table {
      width: 100%;
      font-size: 0.9rem;  
      border-collapse: collapse;
      margin-bottom: 10px;
      background-color: rgba(255, 255, 255, 0.247);
      thead tr th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        color: black;
      } 
     
      
    }
    .formbutton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 5px;
    } 
  }
}
