.buttonIcon {
   font-size: 13px !important;
   color: rgb(59, 45, 182) !important;
 }

 @media only screen and (max-width: 5000px) {
   .tracuuInvoice {
     width: 100%;
     height: calc(100vh - 88px);
     display: flex;
     gap: 1px;

     .tracuuInvoiceform {
       display: flex;
       flex-direction: column;
       width: 260px;
       height: 100%;
       align-items: center;
       font-size: 0.7rem;
       background-image: linear-gradient(0deg, #afd3d1, #c663da);
       -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
       box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
       padding: 5px;
       box-sizing: border-box;

       &:hover {
         background-image: linear-gradient(0deg, #afd3d1, #df4fe4);
       }

       .forminput {
         display: flex;
         flex-direction: column;
         width: 100%;
         gap: 5px;
         flex-wrap: wrap;
         align-items: stretch;
         justify-content: space-around;
         padding: 2px;
         font-size: 0.6rem;

         .forminputcolumn {
           display: flex;
           flex-direction: column;
           gap: 10px;
           align-items: stretch;
           justify-content: flex-end;
           flex-wrap: wrap;

           label {
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: flex-end;
             width: 100%;

             b {
               display: inline-block;
               min-width: 85px;
               text-align: right;
             }

             input {
               width: 140px;
               height: 15px;
               font-size: 0.6rem;
               outline: none;
               border-radius: 5px;
               border: none;
               padding: 5px;
               margin-left: 6px;
               background-image: linear-gradient(0deg, #ececec, #9dee95);
             }
           }
         }
       }

       .formbutton {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         gap: 10px;
         width: 100%;
         margin-top: 4px;

         label {
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: flex-end;
           flex: 1;

           b {
             display: inline-block;
             min-width: 85px;
             text-align: right;
           }

           input {
             margin-left: 6px;
           }
         }
       }

       .formsummary {
         display: flex;
         flex-direction: row;
         background-image: linear-gradient(0deg, #ececec, #99f86d);
         -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
         box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
         gap: 20px;
         border-radius: 5px;
         margin-top: 5px;
         font-size: 0.7rem;

         table {
           border: 3px solid gray;
           width: 100%;
         }

         table thead tr td {
           font-weight: bold;
           border: 1px solid gray;
           padding-left: 10px;
           padding-right: 10px;
           text-align: center;
         }

         table tbody tr td {
           border: 1px solid gray;
           text-align: center;
         }
       }
     }

     .tracuuInvoiceTable {
       display: flex;
       height: 100%;
       width: 100%;
       background-image: linear-gradient(0deg, #afd3d1, #b99dee);
       -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
       box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
       border-radius: 8px;

       .datatb {
         justify-items: center;
         width: 99%;
         height: 100%;
         padding: 5px;

         .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed) > td {
           background-color: orange;
           color: unset;
         }

         .dx-datagrid-borders > .dx-datagrid-header-panel {
           border-bottom: 0;
           background-color: #b5f398;
         }

         .dx-toolbar .dx-toolbar-items-container {
           height: 25px;
           overflow: visible;
           background-color: #b5f398;
         }

         .dx-gridbase-container > .dx-datagrid-rowsview.dx-scrollable {
           display: -ms-flexbox;
           display: flex;
           background-image: linear-gradient(0deg, #e9e1eb, #f1f5cf);
           font-size: 0.7rem;
         }

         .dx-datagrid-borders > .dx-datagrid-filter-panel,
         .dx-datagrid-borders > .dx-datagrid-headers {
           border-top: 1px solid #ddd;
           background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
           color: black;
           font-weight: bold;
           font-size: 0.7rem;
         }

         .dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-placeholder::before,
         .dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-texteditor-input {
           padding-left: 32px;
           background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
           color: black;
           height: 10px;
         }
         .dx-editor-cell .dx-texteditor,
         .dx-editor-cell .dx-texteditor .dx-texteditor-input {
           background-image: linear-gradient(0deg, #e9e1eb, #a0f87e);
         }

         .dx-searchbox .dx-placeholder::before,
         .dx-searchbox .dx-texteditor-input {
           padding-left: 34px;
           background-image: linear-gradient(0deg, #e9e1eb, #d7f0cd);
         }

         .dx-button-mode-contained {
           background-color: #a0f87e;
           border-color: #cacafa;
           color: #430fff;
         }

         .dx-datagrid-total-footer > .dx-datagrid-content {
           padding-top: 0px;
           padding-bottom: 0px;
         }
       }
     }
   }

   .invoiceManageDialogField {
     width: 100px;
   }
 }
