@media only screen and (max-width: 5000px) {
  .lichsu_new {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-content: flex-start;
    justify-self: center;
    width: 100%;    
    height: fit-content;
    
    .filterform {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      justify-self: center;
      align-self: center;      
      width: 100%;
      background-image: linear-gradient(0deg, #afd3d1, #a4ec51);
      font-size: 0.8rem;
      gap: 10px;
      .searchbutton {
        background-color: #21a73e;
        /* Green */
        border: none;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.8rem;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #22fd7e;
        }
      }

      input {
        height: 20px;
        font-size: 0.7rem;
      }
      select {
        height: 20px;
        font-size: 0.7rem;
      }
    }
    .maindept_table {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      justify-self: center;
      align-self: center;
      gap: 10px; 
      width: 100%;
      border-radius: 5px;
      height: calc(100vh - 355px);
      background-image: linear-gradient(0deg, #afd3d1, #78d4f0);
    }

    .lichsu_new_timeline {
      width: 100%;
      border-radius: 5px;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .lichsu_new {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    justify-content: flex-start;
    justify-self: center;
    width: 100%;
    gap: 2px;
    margin-top: 3px;
    height: 100vh;
    .filterform {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      justify-self: center;
      align-self: center;      
      width: 100%;
      background-image: linear-gradient(0deg, #afd3d1, #a4ec51);
      font-size: 0.8rem;
      .searchbutton {
        background-color: #21a73e;
        /* Green */
        border: none;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.8rem;
        border-radius: 5px;
        outline: none;
        box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 19px 15px 27px 0px rgba(0, 0, 0, 0.18);
        &:hover {
          background-color: #22fd7e;
        }
      }

      input {
        height: 20px;
        font-size: 0.7rem;
      }
      select {
        height: 20px;
        font-size: 0.7rem;
      }
    }
    .maindept_table {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      justify-self: center;
      align-self: center;
      padding: 5px;
      width: 100%;
      border-radius: 5px;
      flex: 1;
      min-height: 0;
      background-image: linear-gradient(0deg, #afd3d1, #78d4f0);
    }

    .lichsu_new_timeline {
      width: 100%;
      border-radius: 5px;
    }
  }
}
@media only screen and (max-width: 320px) {
}
