@media only screen and (max-width: 5000px) {
  .dkdtc {
    width: 100%;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    .tracuuDataInspection {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-items: flex-start;
      justify-content: flex-start;

      .maintable {
        display: flex;
        flex-direction: row; 
        width: 100%;
        height: 100%;

        .tracuuDataInspectionform {
          display: flex;
          width: 15%;
          gap: 10px;
          flex-direction: column;
          align-content: center;
          justify-content: flex-start;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          padding-right: 5px;
          height: 100%;
          font-size: 0.7rem;
          span {
            padding: 10px;
            font-size: 20px;
            margin: auto;
          }
          .forminput {
            display: flex;
            gap: 5px;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-around;
            padding: 2px;
            width: 100%;
            .forminputcolumn {
              display: flex;
              flex-direction: column;
              gap: 5px;
              align-items: flex-start;
              justify-content: center;
              flex-wrap: wrap;
              .checkboxarray {
                .custom-checkbox-root .MuiSvgIcon-root {
                  font-size: 20px;
                }
              }
              input {
                width: 246px;
                height: 20px;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
              select {
                width: 260px;
                height: 30px;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
            }
          }
          .formbutton {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            .tranhapkiembutton {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #99f86d;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #67c73a;
              }
            }
            .traxuatkiembutton {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #3ebdf8;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #3f9eca;
              }
            }
            .tranhapxuatkiembutton {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #f04dff;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #bd4dc7;
              }
            }
            .tranhatky {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #ccff14;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #bd4dc7;
              }
            }
          }        
        }
        .tracuuYCSXTable {
          display: flex;
          width: 85%;
          height: 100%;
          background-image: linear-gradient(0deg, #afd3d1, #6dd1f8);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          height: 100%;

        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .dkdtc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .tracuuDataInspection {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      justify-items: flex-start;
      justify-content: flex-start;

      .maintable {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 95%;
        height: 100%;

        .tracuuDataInspectionform {
          display: flex;
          width: 100%;
          gap: 10px;
          flex-direction: column;
          align-content: center;
          justify-content: flex-start;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          
          height: fit-content;
          font-size: 0.7rem;
          span {
            padding: 10px;
            font-size: 20px;
            margin: auto;
          }
          .forminput {
            display: flex;
            gap: 5px;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-around;
            padding: 2px;
            width: 100%;
            .forminputcolumn {
              display: flex;
              flex-direction: column;
              gap: 5px;
              align-items: flex-start;
              justify-content: center;
              flex-wrap: wrap;
              .checkboxarray {
                .custom-checkbox-root .MuiSvgIcon-root {
                  font-size: 20px;
                }
              }
              input {
                width: 300px;
                height: 20px;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
              select {
                width: 310px;
                height: 30px;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
            }
          }
          .formbutton {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            .tranhapkiembutton {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #99f86d;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #67c73a;
              }
            }
            .traxuatkiembutton {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #3ebdf8;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #3f9eca;
              }
            }
            .tranhapxuatkiembutton {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #f04dff;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #bd4dc7;
              }
            }
            .tranhatky {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #ccff14;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #bd4dc7;
              }
            }
          }
        }
        .tracuuYCSXTable {
          display: flex;
          width: 100%;
          height: 100vh;
          background-image: linear-gradient(0deg, #afd3d1, #6dd1f8);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
        
        }
      }
    }
  }
}
