@media only screen and (max-width: 5000px) {
  .dtc {
    width: 100%;
    display: flex;
    flex-direction: column;  
    height: fit-content; 
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 320px) {
}
