.circlecomponent {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0deg, #ebf2f2, #cad3da);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    justify-content: center;
    align-content:space-between ;
    align-items: center;
    gap: 50px;
    
    .value {
        font-size: 4rem;
        color:blue;
    }
    .title {
        font-size: 0.8rem;
        align-self: center;        

    }

}