.accountinfo {    
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0deg, #afd3d1,#53eb6d);
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    height:fit-content;
    gap: 20px;

    .panelhome {
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(0deg, #fafafa34,#edf1f12a);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 200px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        border-radius: 5px;   
        height:fit-content;        

        .cot1 {
            display: flex;
            flex: 1;          
            flex-direction: column;              
            .emplInfoList {
                list-style: decimal;
                font-size: 16px; 
                margin: 10px;               
            }
        }

        .cot2 {
            
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}



.emplInfoList{
    font-size: 18px;
}