.opencvdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .images-container {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  }
}