@media only screen and (max-width: 5000px) {
  .blocking {
    width: 100%;
    height: calc(100vh - 85px);
    display: flex;
    .tracuuDataInspection {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%; 
      .maintable {
        display: flex;
        gap: 2px;
        width: 100%;
        height: 100%;
        .tracuuDataInspectionform {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          padding-right: 5px;
          font-size: 0.7rem;          
          height: 100%;
          .forminput {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 2px;
            width: 100%;
            .forminputcolumn {
              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: flex-end;
              justify-content: center;
              flex-wrap: wrap;
              input {
                width: 140px;
                height: 16px;
                font-size: 0.8rem;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
              select {
                width: 150px;
                height: 25px;
                font-size: 0.8rem;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
            }
          }
          .formbutton {
            display: flex;                   
            width: 100%;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
          }
        }
        .tracuuYCSXTable {
          display: flex;    
          flex:1;      
          height: 100%;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;                 
        }
       
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .blocking {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    .tracuuDataInspection {
      display: flex;
      flex-direction: row;
      width: 100%;
      .maintable {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 100%;
        .tracuuDataInspectionform {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          padding: 1px;
          font-size: 0.8rem;
          width: 99%;
          height: fit-content;
          span {
            padding: 10px;
            font-size: 20px;
            margin: auto;
          }
          .forminput {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: space-around;
            padding: 2px;
            width: 100%;
            .forminputcolumn {
              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: flex-end;
              justify-content: center;
              flex-wrap: wrap;
              input {
                width: 240px;
                height: 16px;
                font-size: 0.8rem;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
              select {
                width: 250px;
                height: 25px;
                font-size: 0.8rem;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
            }
          }
        }
        .tracuuYCSXTable {
          display: flex;
          margin-top: 2px;
          height: 84vh;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          width: 100%;
         
        }
        .tracuuDataInspectionform2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          padding: 1px;
          font-size: 0.8rem;
          width: 100%;
          height: fit-content;
          span {
            padding: 10px;
            font-size: 20px;
            margin: auto;
          }
          .forminput {
            display: flex;
            gap: 5px;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 2px;
            width: 100%;
            .forminputcolumn {
              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: flex-end;
              justify-content: flex-end;
              flex-wrap: wrap;
              input {
                width: 240px;
                height: 16px;
                font-size: 0.8rem;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
              select {
                width: 250px;
                height: 25px;
                font-size: 0.8rem;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
            }
          }
        }
      }
    }
  }
}