@media only screen and (max-width: 3000px) {
  .incomming {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .tracuuDataInspection {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      justify-items: flex-start;
      justify-content: flex-start;
      .maintable {
        display: flex;
        flex-direction: row;
        gap: 5px;
        height: 100%;

        .tracuuDataInspectionform {
          display: flex;
          width: 250px;
          gap: 10px;
          flex-direction: column;
          align-items: center;
          justify-items: flex-start;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          padding: 5px;
          height: 82vh;
          font-size: 0.8rem;
          span {
            padding: 10px;
            font-size: 20px;
            margin: auto;
          }
          .forminput {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-around;
            padding: 2px;
            width: 100%;

            .forminputcolumn {
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 5px;
              flex-wrap: wrap;
              align-items: flex-start;
              justify-content: space-around;
              padding: 2px;
              font-size: 0.8rem;
              input {
                width: 235px;
                height: 15px;
                font-size: 0.6rem;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
              select {
                width: 235px;
                height: 25px;
                font-size: 0.6rem;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
            }
          }
          .formbutton {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            .tranhapkiembutton {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #99f86d;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #67c73a;
              }
            }
            .traxuatkiembutton {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #3ebdf8;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #3f9eca;
              }
            }
            .tranhapxuatkiembutton {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #f04dff;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #bd4dc7;
              }
            }
            .tranhatky {
              font-weight: bold;
              padding-left: 5px;
              padding-right: 5px;
              height: 30px;
              background-color: #ccff14;
              outline: none;
              border: none;
              border-radius: 5px;
              -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
              margin-bottom: 5px;
              margin-top: 5px;
              &:hover {
                cursor: pointer;
                background-color: #bd4dc7;
              }
            }
          }
          .formsummary {
            display: flex;
            flex-direction: row;
            background-image: linear-gradient(0deg, #ececec, #99f86d);
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
            gap: 20px;
            border-radius: 5px;
            margin-top: 5px;

            .summarygroup {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-items: flex-start;
              gap: 10px;
              .summaryvalue {
                display: flex;
                font-size: 16px;
                justify-self: flex-end;
                align-self: flex-end;
                padding: 5px;
                color: rgb(83, 36, 255);
              }
            }
          }
        }
        .tracuuYCSXTable {
          display: flex;
          flex-direction: column;
          width: 68vw;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          height: 84vh;
          .datatb {
            padding: 5px;
            justify-items: center;

            .menubar {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .datatable {
              .dx-datagrid {
                background-color: #b5d8eb00; /* Change to your desired color */
              }
              /* Change background color of the header */
              .dx-datagrid .dx-datagrid-header {
                background-color: #337ab7; /* Change to your desired color */
                color: #fff; /* Change to your desired text color */
              }

              /* Change background color of the data rows */
              .dx-datagrid .dx-row {
                background-color: #f9f9f9; /* Change to your desired color */
              }

              /* Change background color of selected rows */
              .dx-datagrid .dx-row.dx-selection {
                background-color: #337ab7; /* Change to your desired color */
                color: #fff; /* Change to your desired text color */
              }
            }
          }
        }
        .tracuuDataInspectionform2 {
          display: flex;
          width: 15vw;
          gap: 10px;
          flex-direction: column;
          align-items: center;
          justify-items: flex-start;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          padding: 10px;
          height: 82vh;
          span {
            padding: 10px;
            margin: auto;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .incomming {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .tracuuDataInspection {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      justify-items: flex-start;
      justify-content: flex-start;

      .maintable {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        height: 100%;
        background-color: white;
        height: 3000px;

        .tracuuDataInspectionform {
          display: flex;
          width: 100%;
          gap: 10px;
          flex-direction: column;
          align-items: center;
          justify-items: flex-start;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;
          padding: 10px;
          height: fit-content;
          font-size: 0.8rem;
          span {
            padding: 10px;
            font-size: 20px;
            margin: auto;
          }
          .forminput {
            display: flex;
            gap: 2px;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-around;
            padding: 2px;
            width: 100%;

            .forminputcolumn {
              display: flex;
              flex-direction: row;
              width: 100%;
              gap: 5px;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-between;
              padding: 2px;
              font-size: 0.6rem;
              input {
                width: 100px;
                height: 15px;
                font-size: 0.6rem;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
              select {
                width: 100px;
                height: 25px;
                font-size: 0.6rem;
                outline: none;
                border-radius: 5px;
                border: none;
                padding: 5px;
                margin-left: 5px;
                background-image: linear-gradient(0deg, #ececec, #9dee95);
              }
            }
          }
          .formbutton {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
          }
        }
        .tracuuYCSXTable {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 88vh;
          background-color: #76c6eb;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          border-radius: 3px;

          .datatb {
            justify-items: center;
            width: 100%;
            padding: 10px;
            font-size: 0.8rem;
            background-color: #86cfff;
            .menubar {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
            }
            .datatable {
              width: 100%;
              .dx-datagrid {
                background-color: white; /* Change to your desired color */
              }
              /* Change background color of the header */
              .dx-datagrid .dx-datagrid-header {
                background-color: #337ab7; /* Change to your desired color */
                color: #fff; /* Change to your desired text color */
              }

              /* Change background color of the data rows */
              .dx-datagrid .dx-row {
                background-color: #f9f9f9; /* Change to your desired color */
              }

              /* Change background color of selected rows */
              .dx-datagrid .dx-row.dx-selection {
                background-color: #337ab7; /* Change to your desired color */
                color: #fff; /* Change to your desired text color */
              }
            }
          }
        }
        .tracuuDataInspectionform2 {
          display: flex;
          width: 100%;
          background-image: linear-gradient(0deg, #afd3d1, #86cfff);
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          height: 50vh;
          span {
            padding: 10px;
            margin: auto;
          }
        }
      }
    }
  }
}
