@media only screen and (max-width: 5000px) {
  .iqc {
    width: 100%;    
    height: 100%;
    display: flex;
    flex-direction: column;
    .kholieu {
      height: calc(100vh - 85px) !important;
    }
    .dtc {
      .kqdtc {
        height: calc(100vh - 110px) !important;
      }
      .specdtc {
        height: calc(100vh - 110px) !important;
      }
      .addspecdtc {
        height: calc(100vh - 110px) !important;
      }
      .dkdtc {
        height: calc(100vh - 110px) !important;
      }
      .dtcresult {
        height: calc(100vh - 110px) !important;
      }
      .testtable {
        height: calc(100vh - 110px) !important;
      }
    }
   
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 320px) {
}
