.khoao {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .tracuuDataInspection {
    .tracuuDataInspectionform {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      border-radius: 3px;
      padding: 2px;

      span {
        padding: 10px;
        font-size: 0.8rem;
        margin: auto;
      }

      .forminput {
        display: flex;       
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 2px;
        width: 100%;
        font-size: 0.7rem;

        .tranhatky {
          font-size: 0.7rem;
          font-weight: bold;
          
          height: 20px;
          background-color: #ccff14;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          width: 100px;
          &:hover {
            cursor: pointer;
            background-color: #bd4dc7;
          }
        }
        .xuatnext {
          font-size: 0.7rem;
          font-weight: bold;
          
          height: 20px;
          background-color: #f70000;
          color: white;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          width: 100px;
          &:hover {
            cursor: pointer;
            background-color: #bd4dc7;
          }
        }
        .xoakhoao {
          font-size: 0.7rem;
          font-weight: bold;
          
          height: 20px;
          background-color: #bab0d1;
          color: rgb(0, 0, 0);
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          width: 100px;
          &:hover {
            cursor: pointer;
            background-color: #bd4dc7;
          }
        }

        .forminputcolumn {
          font-size: 0.7rem;
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: flex-end;
          justify-content: center;
          flex-wrap: wrap;

          input {
            width: 100px;
            height: 15px;
            font-size: 0.7rem;
            outline: none;
            border-radius: 5px;
            border: none;
            padding: 5px;
            margin-left: 5px;
            background-image: linear-gradient(0deg, #ececec, #9dee95);
          }
          select {
            width: 110px;
            height: 30px;
            font-size: 0.7rem;
            outline: none;
            border-radius: 5px;
            border: none;
            padding: 5px;
            margin-left: 5px;
            background-image: linear-gradient(0deg, #ececec, #9dee95);
          }
        }
      }
      .formbutton {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        .tranhapkiembutton {
          font-weight: bold;
          padding-left: 1px;
          padding-right: 1px;
          height: 20px;
          background-color: #99f86d;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          
          &:hover {
            cursor: pointer;
            background-color: #67c73a;
          }
        }
        .traxuatkiembutton {
          font-weight: bold;
          padding-left: 1px;
          height: 20px;
          background-color: #3ebdf8;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          
          &:hover {
            cursor: pointer;
            background-color: #3f9eca;
          }
        }
        .tranhapxuatkiembutton {
          font-weight: bold;
                    padding-right: 1px;
          height: 20px;
          background-color: #f04dff;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          
          &:hover {
            cursor: pointer;
            background-color: #bd4dc7;
          }
        }
      }      
    }
    .tracuuYCSXTable {
      display: flex;
      margin-top: 2px;
      height: 88vh;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      border-radius: 3px;
      .buttonIcon {
        font-size: 11px;
      }
    }
  }
}
