.bangchamcong {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .tracuuDataInspection {
    display: flex;
    flex-direction: column;
    height: 100%;
    .tracuuDataInspectionform {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      border-radius: 3px;
      padding: 2px;
      font-size: 0.8rem;
      .forminput {
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 2px;
        font-size: 0.7rem;

        .forminputcolumn {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: flex-end;
          justify-content: center;
          flex-wrap: wrap;

          input {
            width: 150px;
            height: 20px;
            font-size: 0.7rem;
            outline: none;
            border-radius: 5px;
            border: none;
            padding: 5px;
            margin-left: 5px;
            background-image: linear-gradient(0deg, #ececec, #9dee95);
          }

          select {
            width: 160px;
            height: 30px;
            font-size: 0.7rem;
            outline: none;
            border-radius: 5px;
            border: none;
            padding: 5px;
            margin-left: 5px;
            background-image: linear-gradient(0deg, #ececec, #9dee95);
          }
        }
      }
      .formbutton {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        font-size: 0.7rem;

        .tranhapkiembutton {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #99f86d;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          font-size: 0.7rem;

          &:hover {
            cursor: pointer;
            background-color: #67c73a;
          }
        }

        .traxuatkiembutton {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #3ebdf8;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          font-size: 0.7rem;

          &:hover {
            cursor: pointer;
            background-color: #3f9eca;
          }
        }

        .tranhapxuatkiembutton {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #f04dff;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          font-size: 0.7rem;

          &:hover {
            cursor: pointer;
            background-color: #bd4dc7;
          }
        }

        .tranhatky {
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
          height: 30px;
          background-color: #ccff14;
          outline: none;
          border: none;
          border-radius: 5px;
          -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
          margin-bottom: 5px;
          margin-top: 5px;
          font-size: 0.7rem;

          &:hover {
            cursor: pointer;
            background-color: #bd4dc7;
          }
        }
      }
    }
    .tracuuYCSXTable {
      display: flex;     
      height: 90vh;
      width: 100%;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      border-radius: 5px;    
    }
    .pivottable1 {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      top: 1vh;
      left: 1%;
      width: 95%;
      height: 85vh;
      overflow: scroll;
      padding: 10px;
      border-radius: 5px;
      background-image: linear-gradient(0deg, #afd3d1, #86cfff);
      -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
      z-index: 100;
      * {
        font-size: 0.7rem;
      }
    }
  }
}
