.Nav {
  background: white;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  overflow-y: scroll;

  .NavIcon {
    position: fixed;
    top: 8px;
    margin-left: 10px;
    font-size: 2rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 99999;
  }
}

.SidebarNav {
  position: sticky;
  /*  background: rgb(255, 255, 255); */
  background-image: linear-gradient(310deg, rgba(86, 199, 252, 0.8), rgba(200, 229, 240, 0.8));
  min-width: 280px;
  height: 87vh;
  display: flex;
  justify-content: center;
  top: 45px;
  z-index: 10;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.29);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  border-radius: 10px;
  margin-left: 1px;
  margin-right: 10px;
  padding-right: 10px;
  overflow-y: scroll;


  &.show-sidebar {
    display: flex;
    width: 15%;
    animation: inAnimation 250ms ease-in;
  }

  &.hide-sidebar {
    display: none;
    width: 0%;
    animation: outAnimation 270ms ease-out;
  }

  @keyframes inAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
      left: -100;
    }

    100% {
      opacity: 1;
      visibility: visible;
      left: 0;
    }
  }

  @keyframes outAnimation {
    0% {
      opacity: 1;
      left: 0;
    }

    100% {
      opacity: 0;
      visibility: hidden;
      left: -100;
    }
  }

}

::-webkit-scrollbar {
  width: 10px;
  background-image: linear-gradient(0deg, #afd3d1, #86cfff);
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear,
      40% 0%,
      75% 84%,
      from(#748cf8),
      to(#6668fd),
      color-stop(.6, #5db1ff))
}

.SidebarWrap {
  width: 100%;

  .cmslogo {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
  }

  .NavIcon {
    margin-left: 15px;
    font-size: 2rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: blue
  }
}