.Nav {
    background: white;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    background-color: rgba(255, 255, 255, 0);    

    .NavIcon {
        position: fixed;
        margin-top: 100px;
        margin-left: 10px;
        font-size: 2rem;
        height: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.SidebarNav {
    background: rgba(255, 255, 255, 0.5);
    width: 15%;
    min-width: 250px;
    height: fit-content;
    display: flex;
    justify-content: center;    
    top: 45px;    
    z-index: 10;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.29);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 10px; 
    padding-right: 10px;
    
    &.show-sidebar {
        display: flex;        
    }

    &.hide-sidebar {
       display: none;
    }
}
.SidebarWrap {
    width: 100%;
    .cmslogo {
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
    }
    .NavIcon {
        margin-left: 15px;
        font-size: 2rem;
        height: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        color: blue
    }
}