.quanlycapcao {
  width: 100%;
  display: flex;
  flex-direction: column;
  .pheduyetnghi {
    .maindept_table {
      height: calc(100vh - 110px) !important;      
    }
    
  }
  .diemdanhnhom {
    .maindept_table {
      height: calc(100vh - 110px) !important;      
    }
  }
  .dieuchuyenteam {
    .maindept_table {
      height: calc(100vh - 115px) !important;      
    }
  }
}
