.qlsxplan {
  width: 100%;
  display: flex;
  flex-direction: column;
  .tabs {
    display: flex;
    font-size: 0.6rem;
    width: 100%;
    display:flex;
    flex-direction:column;
    overflow:'scroll'; 
    .tablist {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; // Thay "left" bằng "flex-start" cho chuẩn CSS
      color: gray;
      overflow-x: scroll; // Cho phép scroll ngang
      white-space: nowrap; // Ngăn xuống dòng
      padding: 0 10px; // Thêm padding để đẹp hơn (tùy chọn)
      scroll-behavior: smooth; // Cuộn mượt mà (tùy chọn)
      overflow:scroll;
      width:100%
    } 

    .tablist::-webkit-scrollbar {
      height: 8px;
    }
    
    .tablist::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 4px;
    }
    
    .tablist::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  }
}
