@media only screen and (max-width: 5000px) {
  .khosx {
    width: 100%;   
    display: flex;
    flex-direction: column;
    .kholieu {
      height: calc(100vh - 85px) !important;
    }
    
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 320px) {
}
