.tinhhinhchotbaocao {
  display: flex;
  height: calc(100vh - 85px);
  justify-items: center;
  gap: 20px;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 0;
  min-height: 0;

  .nhamay1 {
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
    background-image: linear-gradient(0deg, #ececec, #9dee95);
  }

  .nhamay2 {
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
    background-image: linear-gradient(0deg, #ececec, #c0eeea);
  }
}
